{% extends 'base.html' %}

{% block title %}Manage Chapters{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Manage Chapters</h2>
    <a href="{{ url_for('admin.create_chapter', subject_id=subject.id) }}" class="btn btn-primary mb-3">Add New Chapter</a>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Subject</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for chapter in chapters %}
            <tr>
                <td>{{ chapter.id }}</td>
                <td>{{ chapter.subject.name }}</td>
                <td>{{ chapter.name }}</td>
                <td>{{ chapter.description }}</td>
                <td>
                    <a href="{{ url_for('admin.edit_chapter',id=chapter.id) }}" class="btn btn-warning btn-sm">Edit</a>
                    <form action="{{ url_for('admin.delete_chapter', id=chapter.id) }}" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
